:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td,
:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  border: none;
  font-family: 'Poppins', sans-serif;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  color: #5c6873;
  font-size: 0.8rem;
}
:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  font-size: 0.8rem;
}
:host ::ng-deep .p-element .p-sorteable-column {
  display: flex;
}
:host ::ng-deep .pi .p-eye {
  color: white;
}
:host ::ng-deep .p-button {
  width: 100%;
  font-family: 'Poppins';
}


.table-container {
  position: relative;
  overflow: auto;
}

.table-content-container {
  position: relative;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-conformity {
  min-width: 150px;
}

.conformity-bar {
  width: 95%;
}

.btn-records {
  margin-right: 10px;
}

.filter-form {
  display: flex;
  align-items: center;
  padding: 30px 0px 0px 0px;
}

.btn-conformity {
  width: 90px;
  font-weight: 500;
}
