
<div class="table-container
  animate__animated animate__fadeInRight animate__faster">
    <div class="table-content-container">
      <div class="mb-3">
        <p-dropdown
          placeholder="Show rules"
          [options]="mandatoryOptions" 
          [(ngModel)]="isMandatory" 
          optionLabel="name" 
          (ngModelChange)="loadRecords()">
        </p-dropdown>
      </div>
      <p-table 
      [value]="dataSource"
      [paginator]="true"
      rows="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]">
      <ng-template pTemplate="header" >
          <tr>
              <th *ngFor="let item of displayedColumns" 
              pSortableColumn="{{item.value}}">
                <div class="flex align-items-center">
                  {{item.name}} 
                  <p-sortIcon field="{{item}}"></p-sortIcon>
                </div>
              </th>
              <th class="text-center">Invalid records</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dataSource>
          <tr>
            <td>{{dataSource.ruleID}}</td>
            <td>{{dataSource.name}}</td>
            <td>{{dataSource.description}}</td>
            <td *ngIf="dataSource.mandatory"><b>Yes</b></td>
            <td *ngIf="!dataSource.mandatory"><b>No</b></td>
            <td>
              <div class="clearfix">
                <div class="float-left">
                  <strong>{{ dataSource.conformity / 100 | percent: '1.3' }}</strong>
                </div>
              </div>
              <mat-progress-bar 
                value="{{ dataSource.conformity > 0 
                  ? dataSource.conformity 
                  : 100 }}">
              </mat-progress-bar>
            </td>
            <td>{{dataSource.validCount | number}}</td>
            <td>
              <p-button *ngIf="dataSource.conformity == 100"
                disabled="true"
                styleClass="p-button-secondary p-button-sm"
                label="100%"
                ></p-button>
                <a
                  target="_blank" 
                  routerLink="/{{ this.acronym }}/validation/{{
                  this.harvestingID
                  }}/invalid_rule/{{ dataSource.ruleID }}">
                  <p-button *ngIf="dataSource.conformity < 100"
                  styleClass="p-button-danger p-button-sm"
                  label="Invalids"
                  ></p-button>
                </a>
            </td>
            <td>
              <p-button *ngIf="dataSource.conformity == 100 && !admUser"
                disabled="true"
                styleClass="p-button-secondary p-button-sm"
                label="100%"
                ></p-button>

              <p-button
                (onClick)="detailClick(dataSource)" 
                *ngIf="dataSource.conformity < 100 || admUser"
                styleClass="p-button-primary p-button-sm"
                label="Details"
                ></p-button>
            </td>
          </tr>
      </ng-template>
  </p-table>
</div>
</div>

<p-dialog
  *ngIf="dialogData"
  [header]="dialogData.name"
  [(visible)]="visible" 
  [modal]="true" 
  [draggable]="false" 
  [resizable]="false"
  [style]="{maxWidth: '90vw'}"
  (onHide)="onDialogHide()">
  <div>
    <app-validation-detail [dialogData]="dialogData"></app-validation-detail>
  </div>
</p-dialog>