<div class="user-info-title">
  <h2 i18n>User info</h2>
  <mat-icon (click)="onClickSave()">save</mat-icon>
</div>
<form class="user-form">
  <mat-form-field>
    <mat-label i18n>Username</mat-label>
    <input required matInput [(ngModel)]="user.username" name="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Name</mat-label>
    <input matInput [(ngModel)]="user.first_name" name="first_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input required matInput [(ngModel)]="user.email" name="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Institutional phone</mat-label>
    <input matInput [(ngModel)]="user.telephone" name="telephone">
  </mat-form-field>
  <mat-form-field class="col-2">
    <mat-label i18n>Position</mat-label>
    <mat-select [(value)]="user.position">
      <mat-option i18n>None</mat-option>
      <mat-option i18n value="1">Node Administrator</mat-option>
      <mat-option i18n value="2">Assistant/Auxiliary</mat-option>
      <mat-option i18n value="3">Librarian</mat-option>
      <mat-option i18n value="4">Repository Manager</mat-option>
      <mat-option i18n value="5">Technical Responsible</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Affiliation</mat-label>
    <input matInput [(ngModel)]="user.affiliation" name="affiliation">
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n>Password</mat-label>
    <input required matInput type="password" [(ngModel)]="user.password" name="password">
  </mat-form-field>
</form>
<ng-template #snackBarTemplate>
  <div class="message">
    <span *ngIf="succesMessage; else error" i18n>User successfully created!</span>
    <ng-template #error i18n>Error creating user!</ng-template>
    <mat-icon (click)="dismissSnackbar()">close</mat-icon>
  </div>
</ng-template>