mat-icon {
  margin: 5px 0px 0px 5px;
  cursor: pointer;
}

mat-form-field {
  margin: 0px 15px 0px 0px;
}

.user-info-title {
  margin-top: 45px;
  display: flex;
  align-items: flex-start;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
