mat-icon {
  margin: 5px 0px 0px 5px;
  cursor: pointer;
}

mat-form-field {
  margin: 0px 15px 0px 0px;
}

h2 {
  margin-top: 25px;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
