<app-harvesting-chart-filter
  (applyFilter)="filterClick($event)"
  (applyClear)="clearClick()"
  [(date)]="date"
></app-harvesting-chart-filter>
<div class="chart">
  <div class="chart-container">
    <div class="chart-title"><span i18n>Harvestings</span></div>
    <div class="divider-title"></div>
    <div
      class="alert alert-warning"
      *ngIf="!filtrando && data.length == 0"
      i18n
    >
      Nothing to show
    </div>
    <app-vega-viz
      id="{{ chartDef.name }}"
      [pathToData]="chartDef.path"
      (outgoingData)="handleChart($event)"
      *ngIf="!hideGraph"
    >
    </app-vega-viz>

    <div *ngIf="filtrando || data.length > 0" class="legend-div">
      <div class="valid-legend"></div>
      <ng-container i18n>Valid Records</ng-container>
      <div class="invalid-legend"></div>
      <ng-container i18n>Invalid Records</ng-container>
      <div class="harvested-legend"></div>
      <ng-container i18n>Harvested Records</ng-container>
    </div>

    <div class="divider"></div>
    <div class="chart-description">
      <div class="chart-description-text">
        <span i18n>
          The quantities presented in the graphs above are dynamically generated through the collections carried out. It is up to the manager responsible for the source to verify the invalid records in order to solve the problems that resulted in their invalidation.
        </span>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
