<div class="users">
  <p-accordion class="w-full">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-users mr-2"></i>
                <span class="vertical-align-middle" i18n>User list</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-user-table></app-user-table>
        </ng-template>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="w-full">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-download mr-2"></i>
                <span class="vertical-align-middle" i18n>Import users</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-upload-users></app-upload-users>
        </ng-template>
    </p-accordionTab>
  </p-accordion>

  <p-accordion class="w-full">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-user-plus mr-2"></i>
                <span class="vertical-align-middle" i18n>Create user</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-user-create></app-user-create>
        </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>