



<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <div style="display: flex; justify-content: center; padding-top: 1.5rem;">
            <img style="width: 35px;" src="../../../../assets/img/favicon.png" alt="">
        </div>
        <mat-nav-list class="nav-list">
            <a class="nav-list-a" routerLink="/" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
              <img class="nav-list-img" src="../../../../assets/icons/home.svg" alt="">
                <span i18n class="nav-list-text">Home</span>
            </a>
            <a class="nav-list-a" routerLink="/{{activeRepository}}/harvesting" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
              <img class="nav-list-img" src="../../../../assets/icons/chart.svg" alt="">
              <span i18n class="nav-list-text">Statistics</span>
            </a>
            <a class="nav-list-a"  routerLink="/{{activeRepository}}/validation/{{harvestingConentId}}" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
              <img class="nav-list-img" src="../../../../assets/icons/validation.svg" alt="">
              <span i18n class="nav-list-text">Validations</span>
            </a>
            <a class="nav-list-a nav-list-a-logout"  routerLink="/user/profile" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
              <img class="nav-list-img" src="../../../../assets/icons/user.svg" alt="">
              <span i18n class="nav-list-text">Account</span>
            </a>
            
        </mat-nav-list>
    </mat-drawer>
</mat-drawer-container>