<p-toast></p-toast>
<p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>

 <!-- ACTION BUTTON -->
 <p-button (onClick)="op.toggle($event)" styleClass="p-button-text p-button-sm" pTooltip="Actions">
    <i class="pi pi-cog" style="font-size: 1.2rem; color: grey; " ></i>
  </p-button>

  <!--  ACTIONS DASHBOARD -->
  <p-overlayPanel #op>
    <div class="p-4">
      <!-- <span>Ejecutar acciones configuradas</span> -->
      <!-- <p-divider/> -->
      <div class="flex flex-column gap-2">

        <!-- OVERLAY WITH ACTIONS CONFIG -->
        <p-overlayPanel #config>
          <div class="flex flex-column">
            <span class="font-bold">Configurations</span>
            <p-divider/>
            <div *ngFor="let property of actionPropsConfig?.properties" class="flex gap-2 mb-2">
              <span> {{property.name}} </span>
              <p-checkbox [binary]="true" />
            </div>
              
              <p-button styleClass="p-button-sm w-full" label="Save"></p-button>
          </div>

        </p-overlayPanel>

        <span class="font-bold">Acciones individuales</span>

        <p-divider/>

        <!-- ACTIONS LIST -->
        <div *ngFor="let action of actions" class="grid">
  
          <div class="col-6 flex gap-2 align-items-center">
            <p-checkbox [binary]="true" 
            [ngModel]="isSelected"
            (onChange)="toggleAction(action)"
            />
            <span> {{ action.description }} </span>
          </div>
        
          <!-- Contenedor para alinear los botones uniformemente -->
          <div class="col-6 flex gap-1 ">
            
            <p-button (click)="confirm1()" styleClass="p-button-outlined p-button-sm" pTooltip="Full" label="Full"></p-button>
            <p-button *ngIf="action.incremental" styleClass="p-button-outlined p-button-sm" pTooltip="Incremental">Incremental</p-button>
            <p-button *ngIf="action.properties.length > 0" (click)="openConfig($event, action, config)" styleClass="p-button-text p-button-sm" pTooltip="Edit">
              <i class="pi pi-file-edit" style="font-size: 1.2rem; color: grey;"></i>
            </p-button>
          </div>
        
        </div>
        
           
        <p-divider/>

        <!-- SELECTED ACTIONS CONTROL -->
        <span class="font-bold mb-2 text-sm">Control de acciones seleccionadas</span>
        <span class="p-buttonset">
          <button [disabled]="selectedActions.length === 0 " pButton pRipple icon="pi pi-play" label="Start" pTooltip="Ejecutar marcadas"></button>
          <button disabled pButton pRipple icon="pi pi-stop" label="Stop"></button>
          <button pButton pRipple icon="pi pi-calendar" label="Calendar"></button>
          <button (click)="cronConfig.toggle($event)" pButton pRipple icon="pi pi-clock" label="Cron"></button>
        </span>


      </div>

    </div>

    <!-- CRON CONFIG -->
    <p-overlayPanel #cronConfig>
      <div>
        <span class="font-bold">Harvesting cron</span>
        <p-divider/>
        <div class="mb-2">
          <input class="w-full" type="text" pInputText placeholder="* 0 0 29 2 *"  />
        </div>
        <p-button styleClass="p-button-sm w-full" label="Save"></p-button>

      </div>

    </p-overlayPanel>

  </p-overlayPanel>
