 
 <!-- ACTION BUTTON -->
 <p-button (onClick)="op.toggle($event)" styleClass="p-button-text p-button-sm" pTooltip="Actions">
    <i class="pi pi-cog" style="font-size: 1.2rem; color: grey; " ></i>
  </p-button>

  <!--  ACTIONS DASHBOARD -->
  <p-overlayPanel #op>
    <div>
      <!-- <span>Ejecutar acciones configuradas</span> -->
      <!-- <p-divider/> -->
      <div class="flex flex-column gap-2">
        <span class="mb-4 font-bold">Acciones individuales</span>

        

        <div *ngFor="let action of actions" class="flex justify-content-between gap-4 align-items-center">

          <div class="flex gap-2">
            <p-checkbox [binary]="true" />
            <span> {{ action.description }} </span>
          </div>

          <div class="flex justify-content-end gap-1">
            <p-button styleClass="p-button-outlined p-button-sm" pTooltip="Full" label="Full"></p-button>
            <p-button *ngIf="action.incremental" styleClass="p-button-outlined p-button-sm" pTooltip="Incremental">Incremental</p-button>
            <p-button  (onClick)="config.toggle($event)" styleClass="p-button-text p-button-sm" pTooltip="Edit">
              <i class="pi pi-file-edit" style="font-size: 1.2rem; color: grey;" ></i>
            </p-button>
          </div>

          

        </div>
        
        <!-- <div class="flex justify-content-between gap-4 align-items-center">

          <div class="flex gap-2">
            <p-checkbox [binary]="true" />
            <span> Validation </span>
          </div>

          <div class="flex justify-content-end gap-1">
            <p-button styleClass="p-button-outlined p-button-sm" pTooltip="Full">Full</p-button>
            <p-button styleClass="p-button-outlined p-button-sm" pTooltip="Incremental">Incremental</p-button>
            <p-button styleClass="p-button-text p-button-sm" pTooltip="Edit">
              <i class="pi pi-file-edit" style="font-size: 1.2rem; color: grey;" ></i>
            </p-button>
          </div>
        </div>

        <div class="flex justify-content-between gap-4 align-items-center">

          <div class="flex gap-2">
            <p-checkbox [binary]="true" />
            <span> Index front </span>
          </div>

          <div class="flex justify-content-end gap-1">
            <p-button styleClass="p-button-outlined p-button-sm" pTooltip="Full">Full</p-button>
            <p-button styleClass="p-button-outlined p-button-sm" pTooltip="Incremental">Incremental</p-button>
            <p-button styleClass="p-button-text p-button-sm" pTooltip="Edit">
              <i class="pi pi-file-edit" style="font-size: 1.2rem; color: grey;" ></i>
            </p-button>
          </div>
        </div> -->

        <p-overlayPanel #config>
          <div class="flex flex-column">
            <span class="font-bold">Configurations</span>
            <p-divider/>
            <div class="flex gap-2 mb-2">
              <span> Full force </span>
              <p-checkbox [binary]="true" />
            </div>

            <div class="flex gap-2 mb-2">
              <span> Otro </span>
              <p-checkbox [binary]="true" />
            </div>

              <p-button styleClass="p-button-sm w-full" label="Save"></p-button>

          </div>

        </p-overlayPanel>
        
        <p-divider/>

        <span class="font-bold mb-2 text-sm">Control de acciones seleccionadas</span>
        <span class="p-buttonset">
          <button disabled pButton pRipple icon="pi pi-play" label="Start" pTooltip="Ejecutar marcadas"></button>
          <button disabled pButton pRipple icon="pi pi-stop" label="Stop"></button>
          <button pButton pRipple icon="pi pi-calendar" label="Calendar"></button>
          <button (click)="cronConfig.toggle($event)" pButton pRipple icon="pi pi-clock" label="Cron"></button>
        </span>


      </div>

    </div>
    <p-overlayPanel #cronConfig>
      <div>
        <span class="font-bold">Harvesting cron</span>
        <p-divider/>
        <div class="mb-2">
          <input class="w-full" type="text" pInputText placeholder="* 0 0 29 2 *"  />
        </div>
        <p-button styleClass="p-button-sm w-full" label="Save"></p-button>

      </div>

    </p-overlayPanel>

  </p-overlayPanel>
