<div class="users">
  <mat-accordion class="headers-align">
    <mat-expansion-panel expanded (opened)="openUserGroup()">
      <mat-expansion-panel-header>
        <mat-panel-title i18n>
          Users
        </mat-panel-title>
        <mat-panel-description i18n>
          User list
          <mat-icon>recent_actors</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-user-table [update]="openedUserGroup"></app-user-table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title i18n>
          Import
        </mat-panel-title>
        <mat-panel-description i18n>
          Import users
          <mat-icon>upload</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-upload-users></app-upload-users>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title i18n>
          Create
        </mat-panel-title>
        <mat-panel-description i18n>
          Create user
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>