<div class="processes" *ngFor="let element of process; let i=index;">
  <div [ngClass]="[
      'alert', 
      element.createdStatus == 0 ? 'alert-warning' : element.createdStatus == 1 ? 'alert-success' : 'alert-danger'
    ]" role="alert">
    {{element.description}}
    <div *ngIf="element.createdStatus == 0" class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only" i18n>Loading...</span>
    </div>
    <div *ngIf="element.createdStatus == 1" i18n>
      Success
    </div>
    <div *ngIf="element.createdStatus == 2" i18n>
      Error
    </div>
  </div>
</div>