<div class="harvesting-container">
  
  <div class="harvesting-chart">
    <app-harvesting-chart> </app-harvesting-chart>
  </div>

  <div class="harvesting-info">
    <app-card
      *ngIf="harvestingHistory?.content.length > 1">
      <h2>Harvesting history</h2>
      <p>In the graph below it is possible to view the results of the collections performed. It is possible to generate daily, weekly, monthly and yearly collection charts. The chart shows three metrics, which are: valid, invalid and transformed records. Valid records are those that are in accordance with the current mandatory collection rules of the repository. Invalid records are those that do not comply with the mandatory collection rules of the repository. Finally, the transformed records inform the number of documents that were collected. Normally, this number should equal the number of documents deposited in the repository.</p>
    </app-card>
  </div>

</div>



