
.haversting-source-info-container mat-card{
  padding: 24px;
  background-color: white;
  border-radius: 10px;
 
}
.haversting-source-info-container mat-card h3{
  text-align: center;
  padding: 16px;
 
}
.haversting-source-info-container mat-card p{
  text-align: justify;
  line-height: 1.7;
}
