
<p-accordion>
  <p-accordionTab [selected]="isOpen" >

    <ng-template pTemplate="header">
      <div class="flex align-items-center">
        <span class="font-medium" i18n >{{title}} - Read more</span>
        <div class="flex">
          <i class="pi pi-info-circle ml-2"></i>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="content min-h-full">
      <mat-card>
        <p i18n>{{description}}</p>
      </mat-card>  
    </ng-template>

  </p-accordionTab>
</p-accordion>
