<div class="table-container">
  <div class="table-content-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="ruleID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #ruleID>
          ID
        </th>
        <td mat-cell *matCellDef="let rule">{{ rule.ruleID }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef i18n #name>Name</th>
        <td mat-cell *matCellDef="let rule">{{ rule.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef i18n #description>Description</th>
        <td mat-cell *matCellDef="let rule">{{ rule.description }}</td>
      </ng-container>

      <ng-container matColumnDef="mandatory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #mandatory>
          Required
        </th>
        <td mat-cell *matCellDef="let rule" i18n>
          {rule.mandatory, select, true {Yes} false {No}}
        </td>
      </ng-container>

      <ng-container matColumnDef="conformity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #conformity>
          Conformity
        </th>
        <td mat-cell mat-cell-conformity *matCellDef="let rule">
          <div class="clearfix">
            <div class="float-left">
              <strong>{{ rule.conformity / 100 | percent: '1.3' }}</strong>
            </div>
          </div>
          <mat-progress-bar
            [ngClass]="[
              'conformity-bar',
              rule.conformity == 100
                ? 'bar-green'
                : rule.conformity > 0
                ? 'bar-yellow'
                : 'bar-red'
            ]"
            value="{{ rule.conformity > 0 ? rule.conformity : 100 }}"
          >
          </mat-progress-bar>
        </td>
      </ng-container>

      <ng-container matColumnDef="validCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #validCount>
          Valid records
        </th>
        <td mat-cell *matCellDef="let rule">{{ rule.validCount | number }}</td>
      </ng-container>

      <ng-container matColumnDef="button-records">
        <th mat-header-cell *matHeaderCellDef i18n>Records</th>
        <td mat-cell *matCellDef="let rule">
          <span class="badge badge-success" *ngIf="rule.conformity == 100">
            100%
          </span>
          <div *ngIf="rule.conformity < 100">
            <a
              target="_blank"
              routerLink="/{{ this.acronym }}/validation/{{
                this.harvestingID
              }}/invalid_rule/{{ rule.ruleID }}"
            >
              <button
                class="btn text-nowrap btn-outline-danger"
                i18n-matTooltip
                matTooltip="Records that contain this invalid rule"
                matTooltipPosition="above"
                i18n
              >
                Records
              </button>
            </a>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="button-detail">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let rule">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="detailClick(rule)"
            i18n-matTooltip
            matTooltip="Details about this rule"
            matTooltipPosition="above"
            i18n
          >
            Details
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100, 250]"
    >
    </mat-paginator>
  </div>
  <app-table-exporter
    class="app-exporter"
    [data]="csvData"
    [header]="headerData"
  ></app-table-exporter>
</div>
