
:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td,
:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  font-family: 'Poppins', sans-serif;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  color: #5c6873;
  font-size: 0.8rem;
}
:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  font-size: 0.8rem;
}
:host ::ng-deep .p-element .p-sorteable-column {
  display: flex;
}
:host ::ng-deep .pi .p-eye {
  color: white;
}
:host ::ng-deep .p-button {
  width: 100%;
  font-family: 'Poppins';
}
/* :host ::ng-deep .p-divider {
  width: 140px
} */




.table-content-container {
    position: relative;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
  }