
<div class="table-content-container pt-3">
  <div class="flex justify-content-between mb-5">

    
    <div class="flex align-items-center gap-3">
      <p-badge value="Running process 0/45" severity="warn"></p-badge>
      <p-badge value="Queued process 0/45" severity="info"></p-badge>
       <!-- Button on click console log the selectedNetworks -->
       <p-button [pTooltip]="selectedNetworkIDs.size === 0 ? 'Select at least one network' : 'Execute bulk actions'" 
       [disabled]="selectedNetworkIDs.size === 0" label="Bulk actions" 
       icon="pi pi-cog" styleClass="p-button-sm"
       (onClick)="bulkActionsPanel.toggle($event)"
       ></p-button>
    </div>

    <div class="flex gap-3">
      <p-button (onClick)="newNetwork.toggle($event)" styleClass="p-button-sm" i18n-label label="New" icon="pi pi-plus"></p-button>
      <p-button styleClass="p-button-outlined p-button-secondary p-button-sm" icon="pi pi-spinner" i18n-label label="Update"></p-button>
      <p-button styleClass="p-button-outlined p-button-danger p-button-sm" icon="pi pi-stop-circle" i18n-label label="Turn off update"></p-button>
    </div>

  </div>
  
  <!-- NEW NETWORK -->
  <p-overlayPanel #newNetwork>
    <app-network-editor></app-network-editor>
  </p-overlayPanel>

  <!-- BULK ACTIONS PANEL -->
  <p-overlayPanel #bulkActionsPanel>
    <div class="p-4">
      <!-- <span>Ejecutar acciones configuradas</span> -->
      <!-- <p-divider/> -->
      <div class="flex flex-column gap-2">

        <!-- OVERLAY WITH ACTIONS CONFIG -->
        <p-overlayPanel #config>
          <div class="flex flex-column">
            <span class="font-bold">Configurations</span>
            <p-divider/>
            <!-- <div *ngFor="let property of selectedAction?.properties" class="flex gap-2 mb-2">
              <span> {{property.name}} </span>
              <p-checkbox [binary]="true" />
            </div> -->
              <p-button styleClass="p-button-sm w-full" label="Save"></p-button>
          </div>

        </p-overlayPanel>

        <span class="font-bold">Bulk actions in selected networks</span>

        <p-divider/>

        <!-- ACTIONS LIST -->
        <div *ngFor="let action of actions" class="grid">
  
          <div class="col-6 flex gap-2 align-items-center">
            <!-- <p-checkbox [binary]="true" /> -->
            <span> {{ action.description }} </span>
          </div>
        
          <!-- Contenedor para alinear los botones uniformemente -->
          <div class="col-6 flex gap-1 ">
            <p-button styleClass="p-button-outlined p-button-sm" pTooltip="Full" label="Full"></p-button>
            <p-button *ngIf="action.incremental" styleClass="p-button-outlined p-button-sm" pTooltip="Incremental">Incremental</p-button>
            <p-button *ngIf="action.properties.length > 0"
              styleClass="p-button-text p-button-sm" pTooltip="Edit">
              <i class="pi pi-file-edit" style="font-size: 1.2rem; color: grey;"></i>
            </p-button>
          </div>
        
        </div>
        
           
        <!-- <p-divider/> -->

        <!-- SELECTED ACTIONS CONTROL -->
        <!-- <span class="font-bold mb-2 text-sm">Control de acciones seleccionadas</span>
        <span class="p-buttonset">
          <button disabled pButton pRipple icon="pi pi-play" label="Start" pTooltip="Ejecutar marcadas"></button>
          <button disabled pButton pRipple icon="pi pi-stop" label="Stop"></button>
          <button pButton pRipple icon="pi pi-calendar" label="Calendar"></button>
          <button (click)="cronConfig.toggle($event)" pButton pRipple icon="pi pi-clock" label="Cron"></button>
        </span> -->


      </div>

    </div>

    <!-- CRON CONFIG -->
    <p-overlayPanel #cronConfig>
      <div>
        <span class="font-bold">Harvesting cron</span>
        <p-divider/>
        <div class="mb-2">
          <input class="w-full" type="text" pInputText placeholder="* 0 0 29 2 *"  />
        </div>
        <p-button styleClass="p-button-sm w-full" label="Save"></p-button>

      </div>

    </p-overlayPanel>

  </p-overlayPanel>

  <hr>
  
  <p-table 
      [value]="networksList"
      [paginator]="true"
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [lazy]="true"
      [loading]="isLoading"
      (onLazyLoad)="loadContent($event)"
      (onSort)="onSort($event)"
      [(selection)]="selectedNetworks"
      >

      <ng-template class="flex" pTemplate="body" let-networksList>

        <!-- ACCORDION FOR EVERY REPO -->
       
      <tr class="flex align-items-center">
        <div class="mr-3">
          <p-checkbox 
          [binary]="true"
          [ngModel]="isSelected(networksList.networkID)"
          (onChange)="toggleSelection(networksList.networkID)">
        </p-checkbox>
        </div>

        <p-accordion expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up">
          <p-accordionTab >

              <ng-template pTemplate="header"> 
                <div class="w-11 ">
                 
                  <!-- CONTAINER WITH THE ELEMENTS -->
                  <div style="display: grid; grid-template-columns: 80px 100px 150px 1fr auto 20px 20px; align-items: center; gap: 1rem;">
                    
                    <div >{{networksList.networkID}}</div>
                    <div >{{ networksList.acronym }}</div>
                    <div >{{ networksList.name }}</div>
                    <div >{{ networksList.institution }}</div>

                    <!-- LAST VALID HARVEST -->
                    <div *ngIf="networksList.lgkSnapshotID" class="flex gap-2 align-items-center">
                      <div>
                        <i class="pi pi-clock" style="font-size: 12px"></i>
                        <span class="ml-1 text-sm ">{{ networksList.lgkSnapshotDate }}</span>
                      </div>
                      <p-badge value="Last valid harvest" badgeSize="xlarge" severity="success"></p-badge>
                    </div>

                    <!-- ONLY ONE BUT NOT VALIDATED -->
                    <div *ngIf="!networksList.lgkSnapshotID && networksList.lstSnapshotID" class="flex gap-2 align-items-center">
                      <div>
                        <i class="pi pi-clock" style="font-size: 12px"></i>
                        <span class="ml-1 text-sm ">{{ networksList.lstSnapshotDate }}</span>
                      </div>
                      <p-badge value="Harvest without validation" badgeSize="xlarge" styleClass="bg-yellow-500"></p-badge>
                    </div>

                    <!-- SOURCE WITHOUT HARVESTS -->
                    <div *ngIf="!networksList.lgkSnapshotID && !networksList.lstSnapshotID" class="flex gap-2 align-items-center">
                      <p-badge value="No harvests for this source" badgeSize="xlarge" severity="Info"></p-badge>
                    </div>



                    <!-- LAS HARVEST WITH ERRORS -->
                    <div *ngIf="networksList.lstSnapshotStatus === 'HARVESTING_FINISHED_ERROR';" class="flex align-items-end">
                      <i pTooltip="There are failed harvests" 
                        class="pi pi-exclamation-triangle" 
                        style="font-size: 1.2rem; font-weight : bold; color: red">
                      </i>
                    </div>

                    <!-- LAST HARVEST NO VALIDATED -->
                    <div *ngIf="networksList.lstSnapshotStatus === 'NO_VALIDATED';" class="flex align-items-end">
                      <i pTooltip="There are harvests that are not validated" 
                        class="pi pi-exclamation-triangle" 
                        style="font-size: 1.2rem; font-weight: bold; color: rgb(234, 234, 49)">
                      </i>
                    </div>


                    <div class="flex align-items-center">
                      <i class="pi pi-spin pi-spinner" style="font-size: 1.2rem; color: grey"></i>
                    </div>

                  </div>
                </div>
                
              </ng-template>

              <!-- DASHBOARD CONTENT -->
              <div >
                  <app-networks-dashboard [network]="networksList" ></app-networks-dashboard>
              </div>
          </p-accordionTab> 
        </p-accordion>

        <div class=" flex justify-content-end align-items-center">
          <Actions-panel [actions]="actions"></Actions-panel>

          <!-- MAKE THIS A NEW COMPONENT -->
          <p-button (onClick)="edit.toggle($event)" styleClass="p-button-text p-button-sm" pTooltip="Edit">
            <i class="pi pi-file-edit" style="font-size: 1.1rem; color: grey; " ></i>
          </p-button>
        </div>

      </tr>

      <!-- EDIT NETWORK -->
      <p-overlayPanel #edit>
        <app-network-editor></app-network-editor>
      </p-overlayPanel>
      
      </ng-template>


  </p-table>

  
</div>



















<!-- 
<div class="table-content-container p-3">
  <div class="flex gap-3 mb-5">
    <p-button styleClass="p-button-sm" i18n-label label="Add repositorie" icon="pi pi-plus">
    </p-button>
    <p-button styleClass="p-button-outlined p-button-secondary p-button-sm" icon="pi pi-spinner" i18n-label label="Update">
    </p-button>
    <p-button styleClass="p-button-outlined p-button-danger p-button-sm" icon="pi pi-stop-circle" i18n-label label="Turn off update">
    </p-button>
  </div>
  <hr>
  <p-table 
      [value]="networksList"
      [paginator]="true"
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [lazy]="true"
      [loading]="isLoading"
      (onLazyLoad)="loadContent($event)"
      (onSort)="onSort($event)">

      <ng-template pTemplate="header" >
          <tr>
              <th i18n pSortableColumn="networkID" class="font-bold">
                ID
                <p-sortIcon field="networkID"></p-sortIcon>
            </th>
              <th i18n pSortableColumn="acronym" class="font-bold w-2">
                Acronym
                <p-sortIcon field="acronym"></p-sortIcon>
            </th>
              <th i18n pSortableColumn="name" class="font-bold w-2">
                Repositorie
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th i18n pSortableColumn="institution" class="font-bold w-2">
                Institution
                <p-sortIcon field="institution"></p-sortIcon>
              </th>

              <th i18n>
               <span class="font-bold text-center block w-full">Harvesting</span>
              </th>
              <th></th>
          </tr>
          <tr>
            <th>
            </th>
            <th>
              <p-columnFilter type="text" field="acronym" [showMenu]="false">
                <ng-template pTemplate="filter">
                  <input type="text" 
                    pInputText 
                    [(ngModel)]="filter.acronym"
                    placeholder="Acronym"
                    (keydown.enter)="applyFilter()"/>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="name" [showMenu]="false">
                <ng-template pTemplate="filter">
                  <input type="text" 
                    pInputText 
                    [(ngModel)]="filter.name"
                    placeholder="Name"
                    (keydown.enter)="applyFilter()"/>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="institution" [showMenu]="false">
                <ng-template pTemplate="filter">
                  <input type="text" 
                    pInputText 
                    [(ngModel)]="filter.institution"
                    placeholder="Institution"
                    (keydown.enter)="applyFilter()"/>
                </ng-template>
              </p-columnFilter>
            </th>
            <th></th>
            <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-networksList>
          <tr>
            <td>{{networksList.networkID}}</td>
            <td>{{networksList.acronym}}</td>
            <td>{{networksList.name}}</td>
            <td class="w-2">{{networksList.institution}}</td>
            <td>
              <div class="flex gap-6 justify-content-between">
                <div>
                  <div>
                    <span *ngIf="networksList.lstSnapshotStatus === 'VALID'; else cosechaFallida"class="font-semibold">
                      Cosecha validada
                    </span>
                    <ng-template #cosechaFallida>
                      <span class="font-semibold">Cosecha fallida</span>
                    </ng-template>
                  </div>
                  <div>
                    <i class="pi pi-clock" style="font-size: 12px"></i>
                    <span class="text-sm ml-1">{{networksList.lstSnapshotDate}}</span>
                  </div>
                </div>

                <div class="flex gap-1 align-items-center">
                  <div>
                    <span class="text-xs">#: {{networksList.size}}</span>
                  </div> |
                  <div>
                    <span class="text-xs">V: {{networksList.validSize}}</span>
                  </div> |
                  <div>
                    <span class="text-xs">T: {{networksList.transformedSize}}</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <p-button
                icon="pi pi-file-edit"
                styleClass=" p-button-text p-button-secondary p-button"
                routerLink="/harvesting-admin/{{networksList.networkID}}"
                ></p-button>
            </td>
            <td>
              <p-button label="Tools" icon="pi pi-wrench" styleClass="text-xs p-button-xs p-button-outlined" 
              ></p-button>
            </td>
          </tr>
      </ng-template>
  </p-table>
</div> -->

