
<div class="table-content-container p-3">
  <div class="flex gap-3 mb-3">
    <p-button styleClass="p-button-sm" i18n-label label="Add repository" icon="pi pi-plus">
    </p-button>
    <p-button styleClass="p-button-outlined p-button-secondary p-button-sm" icon="pi pi-spinner" i18n-label label="Update">
    </p-button>
    <p-button styleClass="p-button-outlined p-button-danger p-button-sm" icon="pi pi-stop-circle" i18n-label label="Turn off update">
    </p-button>
  </div>
  <p-table 
      [value]="networksList"
      [paginator]="true"
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [lazy]="true"
      [loading]="isLoading"
      (onLazyLoad)="loadContent($event)"
      (onSort)="onSort($event)">

      <ng-template pTemplate="header" >
          <tr>
            <th i18n class="font-bold">
                ID
            </th>
              <th i18n class="font-bold w-2">
                Acronym
              <p-columnFilter field="acronym" 
                display="menu" 
                [showAddButton]="false" 
                [showMatchModes]="false"
                [showOperator]="false"
                [showClearButton]="false">
                <ng-template pTemplate="filter">
                  <input type="text" 
                    pInputText 
                    [(ngModel)]="filter.acronym"
                    i18n-placeholder 
                    placeholder="Identifier"
                    (keydown.enter)="applyFilter()"/>
                </ng-template>
              </p-columnFilter>
            </th>
              <th i18n class="font-bold w-2">
                Repository
              <p-columnFilter field="name" 
                display="menu" 
                [showAddButton]="false" 
                [showMatchModes]="false"
                [showOperator]="false"
                [showClearButton]="false">
                <ng-template pTemplate="filter">
                  <input type="text" 
                    pInputText 
                    [(ngModel)]="filter.name"
                    i18n-placeholder 
                    placeholder="Identifier"
                    (keydown.enter)="applyFilter()"/>
                </ng-template>
              </p-columnFilter>
              </th>
              <th i18n pSortableColumn="institution" class="font-bold w-2">
                Institution
              <p-columnFilter field="institution" 
                display="menu" 
                [showAddButton]="false" 
                [showMatchModes]="false"
                [showOperator]="false"
                [showClearButton]="false">
                <ng-template pTemplate="filter">
                  <input type="text" 
                    pInputText 
                    [(ngModel)]="filter.institution"
                    i18n-placeholder 
                    placeholder="Identifier"
                    (keydown.enter)="applyFilter()"/>
                </ng-template>
              </p-columnFilter>

              </th>
              <th>
               <span class="font-bold text-center block w-full">Harvesting</span>
              </th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-networksList>
        <tr>
          <td>{{networksList.networkID}}</td>
          <td class="w-1">{{networksList.acronym}}</td>
          <td class="w-1">{{networksList.name}}</td>
          <td class="w-2">{{networksList.institution}}</td>
          <td>
            <div class="flex gap-2">

              <!-- Panel última cosecha validada -->
              <div *ngIf="networksList.lgkSnapshotID">
                <p-overlayPanel #op>
                  <ng-template pTemplate="content">
                    <div>
                      <div>
                        <span class="font-semibold">
                          Cosecha validada
                        </span>
                      </div>
                      <div>
                        <i class="pi pi-clock" style="font-size: 12px"></i>
                        <span class="text-sm ml-1">{{networksList.lgkSnapshotDate | date:'short'}}</span>
                      </div>
                      <div class="gap-1 align-items-center">
        
                        <div class="flex align-items-center gap-3 mb-3 mt-3">
                          <p-badge value="Size:"></p-badge>
                          <span class="text-xs font-bold">{{networksList.lgkSize | number}}</span>
                        </div>
        
                        <div class="flex align-items-center gap-3 mb-3">
                          <p-badge value="Valid:"></p-badge>
                          <span class="text-xs font-bold">{{networksList.lgkValidSize | number}}</span>
                        </div>
        
                        <div class="flex align-items-center gap-3">
                          <p-badge value="Transformed:"></p-badge>
                          <span class="text-xs font-bold">{{networksList.lgkTransformedSize | number}}</span>
                        </div>
                        
                      </div>
                    </div>
                  </ng-template>
                </p-overlayPanel>
                <div class="w-16rem">
                  <div class="flex align-items-center mb-1">
                    <span class="font-semibold mr-2">
                      Última cosecha validada
                    </span>
                    <i (click)="op.toggle($event)" class="pi pi-eye cursor-pointer text-lg"></i>
                  </div>
                  <div class="mb-1">
                    <i class="pi pi-clock" style="font-size: 12px"></i>
                    <span class="text-sm ml-1">{{networksList.lgkSnapshotDate | date:'short' }}</span>
                  </div>
                  <div class="flex">
                    <span class="text-xs mr-2">#: {{networksList.lgkSize | number}}</span>
                    <span class="text-xs mr-2">V: {{networksList.lgkValidSize | number}}</span> 
                    <span class="text-xs">T: {{networksList.lgkTransformedSize |number }}</span>
                  </div>
                </div>
              </div>

              <div class="flex align-items-center w-16rem" *ngIf="!networksList.lgkSnapshotID">
                <span class="font-semibold mr-2">
                  No hay cosecha validada
                </span>
                  <i class="pi pi-eye-slash cursor-pointer text-lg"></i>
              </div>
        
              <p-divider layout="vertical"></p-divider>
        
              <div>
                <p-overlayPanel #ep>
                  <ng-template pTemplate="content">
                    <div>
                      <div>
                        <span *ngIf="networksList.lstSnapshotStatus === 'VALID'; else cosechaFallida" class="font-semibold">
                          Cosecha validada
                        </span>
                        <ng-template #cosechaFallida>
                          <span class="font-semibold">Cosecha fallida</span>
                        </ng-template>
                      </div>
                      <div>
                        <i class="pi pi-clock" style="font-size: 12px"></i>
                        <span class="text-sm ml-1">{{networksList.lstSnapshotDate | date:'short'}}</span>
                      </div>
                    </div>
                    <div class="gap-1 align-items-center">
        
                      <div class="flex align-items-center gap-3 mb-3 mt-3">
                        <p-badge value="Size:"></p-badge>
                        <span class="text-xs font-bold">{{networksList.lstSize | number}}</span>
                      </div>
        
                      <div class="flex align-items-center gap-3 mb-3">
                        <p-badge value="Valid:"></p-badge>
                        <span class="text-xs font-bold">{{networksList.lstValidSize | number}}</span>
                      </div>
        
                      <div class="flex align-items-center gap-3">
                        <p-badge value="Transformed:"></p-badge>
                        <span class="text-xs font-bold">{{networksList.lstTransformedSize | number}}</span>
                      </div>
                      
                    </div>
                  </ng-template>
                </p-overlayPanel>
                <div>
                  <div class="flex align-items-center mb-1">
                    <span class="font-semibold mr-2">
                      Última cosecha
                    </span>
                    <i (click)="ep.toggle($event)" class="pi pi-eye cursor-pointer text-lg"></i>
                  </div>
                  <div class="mb-1" *ngIf="networksList.lstSnapshotStatus === 'VALID'; else cosechaFallida">
                    <p-badge value="valido" severity="success"></p-badge>
                  </div>
                  <ng-template #cosechaFallida>
                    <div class="mb-1">
                      <p-badge value="fallido" severity="danger"></p-badge>
                    </div>
                  </ng-template>
                  
                  <div>
                    <i class="pi pi-clock" style="font-size: 12px"></i>
                    <span class="text-sm ml-1">{{networksList.lstSnapshotDate | date:'short'}}</span>
                  </div>

                  <div class="flex">
                    <span class="text-xs mr-2">#: {{networksList.lstSize | number}}</span>
                    <span class="text-xs mr-2">V: {{networksList.lstValidSize | number}}</span> 
                    <span class="text-xs">T: {{networksList.lstTransformedSize |number }}</span>
                  </div>
                </div>
              </div>

            </div>
          </td>
          <td>
            <p-button icon="pi pi-file-edit" styleClass="p-button-text p-button-secondary p-button" routerLink="/harvesting-admin/{{networksList.networkID}}"></p-button>
          </td>
        </tr>
      </ng-template>
  </p-table>
</div>
