
<h6 i18n>User Info</h6>
<form name="userForm" #userForm="ngForm" class="user-form">
  <input type="text" pInputText required placeholder="Username *" [(ngModel)]="user.username" />
  <input type="text" pInputText placeholder="Name" [(ngModel)]="user.first_name" />
  <input type="email" pInputText required placeholder="Email *" [(ngModel)]="user.email" />
  <input type="number" pInputText placeholder="Institutional phone" [(ngModel)]="user.telephone" />
  <p-dropdown [options]="positions" placeholder="Position" [(ngModel)]="user.position" optionLabel="name"></p-dropdown>
  <input class="mt-2" type="number" pInputText placeholder="Affiliation" [(ngModel)]="user.affiliation" />
  <input type="password" pInputText required placeholder="Password *" [(ngModel)]="user.password" />
  
  <p-toast></p-toast>
  <p-button [loading]="loading" styleClass="p-button-sm" (click)="onClickSave()" i18n label="Save"></p-button>
</form>
