<div class="chart">
  <div class="chart-container">
    <div class="chart-title"><span i18n>Validations</span></div>
    <div class="divider"></div>
    <app-vega-viz
      id="{{ chartDef.name }}"
      [pathToData]="chartDef.path"
      (outgoingData)="handleChart($event)"
    >
    </app-vega-viz>

    <div class="legend-div">
      <div class="blue-legend"></div>
      <ng-container i18n>Harvested Records</ng-container>
      <div class="green-legend"></div>
      <ng-container i18n>Valid Records</ng-container>
      <div class="red-legend"></div>
      <ng-container i18n>Transformed Records</ng-container>
    </div>

    <div class="divider"></div>
    <div class="chart-description">
      <div class="chart-description-text">
        <span>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </span>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
