<div
  [ngClass]="['alert', error ? 'alert-danger' : 'alert-warning']"
  role="alert"
  *ngIf="error || firstAccess"
  i18n
>
  {error, select, true {Validations not found} false {Enter a source acronym in
  the root URL /:acronym}}
</div>

<mat-card *ngIf="isLoadingResults">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>

<div *ngIf="!firstAccess && !error && validation">
  <app-sub-header
    *ngIf="harvesting"
    description="{{ harvesting.name }}"
  ></app-sub-header>

  <div class="flex-container">
    <app-mini-card
      class="col-md-3"
      icon="library_books"
      i18n-title
      title="Harvested records"
      color="#3498db"
      [content]="validation.size | number"
    ></app-mini-card>

    <app-mini-card
      class="col-md-3"
      icon="done"
      i18n-title
      title="Valid"
      color="#27ae60"
      [content]="validation.validSize | number"
    ></app-mini-card>

    <app-mini-card *ngIf="admUser"
      class="col-md-3"
      icon="settings"
      i18n-title
      title="Transformed"
      color="#f1c40f"
      [content]="validation.transformedSize | number"
    ></app-mini-card>

    <app-mini-card
      class="col-md-3"
      icon="clear"
      i18n-title
      title="Invalid"
      color="#e74c3c"
      [content]="validation.size - validation.validSize | number"
    ></app-mini-card>
  </div>

  <div class="flex-container">
    <app-conformity-grouped-chart
      [validation]="validation"
    ></app-conformity-grouped-chart>
  </div>

  <app-card
    cardTitle="Validations"
    i18n-cardTitle
    description="The graph below shows the result of the validations performed. Records with 100% validation level refer to records that have complied with the mandatory collection rules of the repository and become valid records. Records that have a 0.00%  validation level refer to records that did not comply with the mandatory collection rules of the repository and became invalid records. In this case, the user has the option of viewing which were the invalid occurrences in the details button, where the metadata value with the corresponding quantities are shown."
    i18n-description
  >
    <app-validation-table [validation]="validation"></app-validation-table>
  </app-card>

  <app-card
    cardTitle="Records"
    i18n-cardTitle
    description="The data below presents the complete diagnosis of your institution's data collection. Here you can check which records are valid, which are invalid and what makes a record invalid. In addition to allowing a customized view, in which it is possible to make combinations between the type of record (valid or invalid) and the type of rule. In the details button, it is possible to view the applicability and compliance of each validation rule item by item."
    i18n-description
  >
    <app-records-table [validation]="validation"></app-records-table>
  </app-card>
</div>
