<div class="file-selected"><input type="file" style="display: none" #fileInput accept="csv/*"
    (change)="onChangeFileInput()" />
  <p-button styleClass="p-button-sm" (click)="onClickFileInputButton()" icon="pi pi-upload"
    i18n-label label="Select file">
  </p-button>
  <p class="file-name" *ngIf="!file; else fileName" i18n>No file selected</p>
  <ng-template #fileName>
    <p class="file-name">{{ file?.name }}</p>
    <i class="pi pi-trash cursor-pointer" (click)="onClickClearFile()"></i>
  </ng-template>
  
</div>
<p-toast></p-toast>
<app-process-list [processes]="process"></app-process-list>
