<p-progressSpinner 
*ngIf="isLoadingData"
styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".5s">
</p-progressSpinner>

<div
  *ngIf="!isLoadingData" 
  class="table-container
  animate__animated animate__fadeIn animate__faster">
    <div class="table-content-container">
      <div class="mb-3">
        <input pInputText type="text" 
        (input)="userTable.filterGlobal($event.target.value, 'contains')" 
        placeholder="Search" 
        />
      </div>
    <p-table
      #userTable 
      [value]="dataSource"
      [paginator]="true"
      rows="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25]"
      [globalFilterFields]="['name']">

      <ng-template pTemplate="header" >
          <tr>
              <th 
              pSortableColumn="name">
                <div class="flex align-items-center" i18n>
                 Name 
                  <p-sortIcon field="name"></p-sortIcon>
                </div>
              </th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dataSource>
          <tr>
            <td><b>{{dataSource.name}}</b></td>
            <td>
              <p-button
                (click)="handlerClick(dataSource)" 
                [loading]="loading"
                [icon]="action === userGroupAction.Leave ? 'pi pi-trash' : 'pi pi-plus-circle'"
                class="mr-3" 
                [styleClass]="action === userGroupAction.Leave ? leaveStyleClass: joinStyleClass" 
                i18n-label 
                [label]="action === userGroupAction.Leave ? 'Leave' : 'Join'" 
                >
              </p-button>
            </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
