.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-style: solid;
  border-bottom-color: #ec9700;
  border-bottom-width: 7px;
  padding: 0px;
  height: 105px;
}

.header .logo {
  max-height: 49px;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200px;
}

.header-description {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-color: #464b5c;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title-description > span {
  margin-left: 30px;
  font-family: Overpass;
  font-weight: 600;
  font-size: 18pt;
  letter-spacing: 0.09em;
  color: #f6d67b;
}

.sub-title-description {
  background-color: #555a6d;
}

.title-description {
  margin-bottom: 3px;
}

.sub-title-description > span {
  margin-left: 30px;
  font-family: Overpass;
  font-weight: bold;
  font-size: 16pt;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.logout {
  float: right;
  margin-right: 220px;
  display: flex;
  align-items: center;
  color: white;
}

.mat-icon {
  margin-right: 4px;
}
