

<div class="header-component">
    <div>
        <div style="display: flex; justify-content: space-between;">

            <div 
                class="menu-container" 
                (mouseenter)="menu.show($event)" (mouseleave)="menu.hide()">
                <p-menu #menu [model]="menuRepositories" [popup]="true"></p-menu>
                <h6>Dashboard / {{activeRepository}}</h6>
                <img class="arrow" style="width: 18px;" 
                    src="../../../../assets/icons/arrowdown.svg" alt="arrow">
            </div>
            
            <div>
                <img style="width: 140px; cursor: pointer;" 
                    src="../../../../assets/img/logo-footer.png" alt="">
            </div>
        </div>
    </div>
</div>
  