<div class="alert alert-danger" 
     role="alert" 
     *ngIf="error" i18n>
  Harvesting not found
</div>

<div *ngIf="!error">
  <!-- <div *ngIf="isLoadingResults" 
        style="display: flex; justify-content: center; margin-top: 2rem">
    <p-progressSpinner></p-progressSpinner>
  </div> -->

  <div *ngIf="harvestingContent" 
        class="p-3">

    <!-- Grafico -->
    <app-harvesting-source>
    </app-harvesting-source>


    <!-- Tabla -->

    <app-harvesting-table></app-harvesting-table>

  </div>
</div>







