
<div class="m-4">
  <p-tabView>
      <p-tabPanel i18n-header header="Users">
        <div class=" animate__animated animate__fadeIn animate__faster">
          <div class="p-4 bg-white border-10">
            <app-users></app-users>
          </div>
        </div>

      </p-tabPanel>
      <p-tabPanel i18n-header header="Groups">
        <div class=" animate__animated animate__fadeIn animate__faster">
          <div class="p-4 bg-white border-10">  
            <app-groups></app-groups>
          </div>
        </div>
      </p-tabPanel>
  </p-tabView>
</div>
