<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/{{ acronym }}">
        <i class="material-icons">home</i>
        <ng-container i18n="Home page">Home</ng-container>
      </a>
      <a mat-list-item routerLink="validation/{{ harvestingID }}">
        <i class="material-icons">insights</i>
        <ng-container i18n>Validations</ng-container>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-content">
    <mat-toolbar class="header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
      ><span>
        <a routerLink="/{{ acronym }}">
          <img class="logo" src="assets/img/logo-header.png" alt="logo" />
        </a>
      </span>
    </mat-toolbar>
    <div class="content">
      <router-outlet class="content"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
