:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td,
:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  border: none;
  font-family: 'Poppins', sans-serif;
}
:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  color: #5c6873;
  font-size: 0.8rem;
}
:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  font-size: 0.8rem;
}
:host ::ng-deep .p-element .p-sorteable-column {
  display: flex;
}
:host ::ng-deep .pi .p-eye {
  color: white;
}
:host ::ng-deep .p-datatable .p-datatable-loading-overlay {
  background: #8080804f;
  opacity: 0.4;
  border-radius: 10px;
}
:host ::ng-deep .p-datatable .p-datatable-loading-icon {
  font-size: 5rem;
}


.table-container {
  position: relative;
  overflow: auto;
}

.table-content-container {
  position: relative;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}

