
<div class="grid">
  
  <div class="col-12 lg:col-4 p-3 harvesting-table-info
  animate__animated animate__fadeInLeft animate__faster">
    <app-info-card
      title="Harvesting table"
      description="This table is the history of each collection performed. Each collection generates a unique identifier, which is represented below as an ID. It shows numerically how many records were validated, invalidated and transformed in each collection performed. You can also view the start and end time of the collection process, as well as download the .csv file containing all the information described. When clicking on “validations”, a page will be presented containing the level of compliance, in percentage, the collection rules of the BDTD. Only the validations of the last collections made will be available for viewing, therefore, it will not be possible to view the granular validation of the oldest collections.">
    </app-info-card>
  </div>

  <div class="table-container col-12 lg:col-8 p-3
  animate__animated animate__fadeInRight animate__faster">
    <div class="table-content-container">
    <p-table 
      [value]="harvestingContent"
      [paginator]="true"
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      
      [lazy]="true"
      [loading]="isLoading"
      (onLazyLoad)="loadContent($event)">

      <ng-template pTemplate="header" >
          <tr>
              <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="harvestedSize">Harvested Record <p-sortIcon field="harvestedSize"></p-sortIcon></th>
              <th pSortableColumn="validSize" >Valid records<p-sortIcon field="validSize"></p-sortIcon></th>
              <th pSortableColumn="invalidRecords">Invalid records<p-sortIcon field="invalidRecords"></p-sortIcon></th>
              <th pSortableColumn="startTime">Start<p-sortIcon field="startTime"></p-sortIcon></th>
              <th pSortableColumn="endTime" >End<p-sortIcon field="endTime"></p-sortIcon></th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-harvestingContent>
          <tr>
            <td>{{harvestingContent.id | number}}</td>
            <td>{{harvestingContent.harvestedSize | number}}</td>
            <td>{{harvestingContent.validSize | number}}</td>
            <td>{{harvestingContent.invalidRecords | number}}</td>
            <td>{{harvestingContent.startTime | date: 'short'}}</td>
            <td>{{harvestingContent.endTime | date: 'short'}}</td>
              <p-button *ngIf="!harvestingContent.deleted" 
                icon="pi pi-eye" 
                styleClass="p-button-rounded 
                p-button-success"
                (click)="detailClick(harvestingContent)"
                ></p-button>

              <p-button *ngIf="harvestingContent.deleted" 
                icon="pi pi-eye-slash" 
                styleClass="p-button-rounded 
                p-button-secondary"
                [disabled]="true"></p-button>
          </tr>
      </ng-template>
  </p-table>
</div>
</div>























 <!-- <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div> -->
  
    <!-- <div class="table-content-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header #id>ID</th>
          <td mat-cell *matCellDef="let harvesting">
            {{ harvesting.id }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="harvestedSize">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n
            #harvestedSize
          >
            Harvested records
          </th>
          <td mat-cell *matCellDef="let harvesting">
            {{ harvesting.harvestedSize | number }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="validSize">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #validSize>
            Valid records
          </th>
          <td mat-cell *matCellDef="let harvesting">
            {{ harvesting.validSize | number }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="transformedSize" *ngIf="admUser">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #transformedSize>
            Transformed records
          </th>
          <td mat-cell *matCellDef="let harvesting">
            {{ harvesting.transformedSize | number }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="invalidRecords">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            i18n
            #invalidRecords
          >
            Invalid records
          </th>
          <td mat-cell *matCellDef="let harvesting">
            {{ harvesting.invalidRecords | number }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #startTime>
            Start
          </th>
          <td mat-cell *matCellDef="let harvesting">
            {{ harvesting.startTime | date: 'short' }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header i18n #endTime>
            End
          </th>
          <td mat-cell *matCellDef="let harvesting">
            {{ harvesting.endTime | date: 'short' }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let harvesting">
            <button
              *ngIf="harvesting.deleted"
              type="button"
              class="btn btn-disabled btn-nt-available"
              i18n
            >
              Not available
            </button>
            <button
              *ngIf="!harvesting.deleted"
              type="button"
              class="btn btn-primary"
              (click)="detailClick(harvesting)"
              i18n
            >
              Validations
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageIndex]="0"
        [pageSize]="pageSize"
        [pageSizeOptions]="[10, 25, 50, 100, 250]"
      >
      </mat-paginator>
    </div>
    <app-table-exporter
      [data]="csvData"
      [header]="headerData"
    ></app-table-exporter>
  </div> -->