
<div class="grid">
  
  <div class="col-12 p-3 harvesting-table-info
  animate__animated animate__fadeInLeft animate__faster">
    <app-info-card
      i18n-title
      i18n-description
      title="Harvesting table"
      description="This table is the history of each harvest performed. Each harvest generates a unique identifier, which is represented below as an ID. It shows numerically how many records were validated, invalidated and transformed in each harvest performed. You can also view the start and end time of the harvest process, as well as download the .csv file containing all the information described. When clicking on “validations”, a page will be presented containing the level of compliance, in percentage, the harvest rules of the BDTD. Only the validations of the last harvestingss made will be available for viewing, therefore, it will not be possible to view the granular validation of the oldest harvestingss.">
    </app-info-card>
  </div>

  <div class="table-container col-12 px-3
  animate__animated animate__fadeInRight animate__faster">
    <div class="table-content-container">
    <p-table 
      [value]="harvestingContent"
      [paginator]="true"
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [lazy]="true"
      [loading]="isLoading"
      (onLazyLoad)="loadContent($event)"
      (onSort)="onSort($event)">

      <ng-template pTemplate="header" >
          <tr>
              <th i18n >ID </th>
              <th i18n >Harvested Record</th>
              <th i18n >Valid records  </th>
              <th i18n >Invalid records</th>
              <th i18n >Transformed    </th>
              <th i18n pSortableColumn="startTime">Start<p-sortIcon field="startTime"></p-sortIcon></th>
              <th i18n pSortableColumn="endTime" >End<p-sortIcon field="endTime"></p-sortIcon></th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-harvestingContent>
          <tr>
            <td>{{harvestingContent.id | number}}</td>
            <td>{{harvestingContent.harvestedSize | number}}</td>
            <td>{{harvestingContent.validSize | number}}</td>
            <td>{{harvestingContent.invalidRecords | number}}</td>
            <td>{{harvestingContent.transformedSize | number}}</td>
            <td>{{harvestingContent.startTime | date: 'short'}}</td>
            <td>{{harvestingContent.endTime | date: 'short'}}</td>
              <p-button *ngIf="!harvestingContent.deleted" 
                icon="pi pi-eye" 
                styleClass="p-button-rounded 
                p-button-success"
                (click)="detailClick(harvestingContent)"
                pTooltip="See validation"
                i18n-pTooltip
                ></p-button>

              <p-button *ngIf="harvestingContent.deleted" 
                icon="pi pi-eye-slash" 
                styleClass="p-button-rounded 
                p-button-secondary"
                [disabled]="true"></p-button>
          </tr>
      </ng-template>
  </p-table>
  <app-table-exporter [data]="csvData" [header]="headerData"></app-table-exporter>
</div>
</div>
  