  <div class="home-section">
    <h6>Dashboard / Argentina</h6>
    <mat-card class="home-info">

      <div class="home-info-container">
        
        <div class="home-info-top animate__animated animate__fadeInLeft animate__faster">
          <mat-card-title>
            <h1 class="font-weight-bold home-title">Welcome</h1>
          </mat-card-title>
          <mat-card-subtitle>
            <p>Dashboard for repository managers</p>
          </mat-card-subtitle>
        </div>

        <div class="home-info-bottom animate__animated animate__fadeInLeft animate__faster">
          <h4>What's on the platform</h4>
          <ul>
            <li>Harvest statistics or something like that</li>
            <li>Last validations or something like that</li>
            <li>Anything else</li>
          </ul>
        </div>
      </div>
      <div class="home-section-image-container">
        <img class="animate__animated animate__fadeInRight animate__faster" src="../../../../assets/img/home-section-image.png" alt="">
      </div>
    </mat-card>

    <mat-card class="home-services animate__animated animate__fadeInDown animate__faster">
      <mat-card-title>
        <h2>Services</h2>
      </mat-card-title>

      <div class="circle-container"
        style="margin-top: 1rem">
        <div class="circle-services">
          <mat-icon>check_circle_outline</mat-icon>
        </div>
        <div class="services-list">
          <p>Statistics</p>
        </div>
      </div>

      <div class="circle-container">
        <div class="circle-services">
          <mat-icon>check_circle_outline</mat-icon>
        </div>
        <div class="services-list">
          <p>Validations</p>
        </div>
      </div>

      <div class="circle-container">
        <div class="circle-services-pending">
          <mat-icon>hourglass_top</mat-icon>
        </div>
        <div class="services-list">
          <p>Service in progress</p>
        </div>
      </div>

      <div class="circle-container">
        <div class="circle-services-pending">
          <mat-icon>hourglass_top</mat-icon>
        </div>
        <div class="services-list">
          <p>Service in progress</p>
        </div>
      </div>
      
      <!-- <div class="circle-container">
          
          <div class="circle-services">
            <mat-icon>check_circle_outline</mat-icon>
          </div>
          
          <div class="circle-services">       
          <mat-icon>check_circle_outline</mat-icon>
        </div>

        <div class="circle-services-pending">       
          <mat-icon>hourglass_top</mat-icon>
        </div>

        <div class="circle-services-pending">       
          <mat-icon>hourglass_top</mat-icon>
        </div>

      </div> -->
    </mat-card>
  </div>
 

