<mat-card *ngIf="isLoadingResults">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>

<div *ngIf="!isLoadingResults">
  <app-sub-header *ngIf="harvesting" description="{{ harvesting.name }}"></app-sub-header>
  <app-card cardTitle="OpenAIRE Broker" i18n-cardTitle description="OpenAIRE Broker Service.

  Thanks to the Broker, repositories, publishers or aggregators can exchange metadata and enrich their local metadata collection by subscribing to notifications of different types. The Broker is able to notify Content providers when the OpenAIRE Graph contains information that is not available in the original collection of the data source. 
  
  It is a subscription-notification service operating on top of the OpenAIRE Research Graph, a de-duplicated, enriched, linked, open scholarly communication graph." i18n-description>
  <app-broker-events-table></app-broker-events-table>
  </app-card>
</div>