.card-div {
  padding: 0px 0px 30px 30px;
}

.mat-card {
  padding: 0px;
  background-color: #ededed;
}

.app-card-header {
  background-color: #a3d8e7;
  padding: 10px 10px 10px 30px;
}

.app-card-header > span {
  font-family: Overpass;
  font-size: 13pt;
  color: #3c3c3b;
}

.description {
  background-color: #f6f6f6;
  padding: 10px 10px 10px 30px;
  text-align: justify;
}

.description-text > span {
  font-size: 10pt;
  font-family: Overpass;
  line-height: 15pt;
  color: #3c3c3b;
  font-weight: 600;
}

.description-text {
  width: 75%;
}
