.sidenav {
  background-color: #f2f2f2;
  width: 200px;
}

.sidenav a {
  font-family: Roboto;
  color: #000000;
}

.semi-bold {
  font-weight: 600;
}

.ligth {
  font-weight: lighter;
}

.sidenav i {
  padding-right: 10px;
}

.sidenav-container {
  position: absolute;
  top: 100px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.content {
  background-color: #ffffff;
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease-out;
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
  overflow: hidden;
  background-color: #ffffff;
  text-transform: uppercase;
}

.submenu > a {
  font-family: Roboto;
  color: #000000;
}

.submenu.expanded {
  transform: scaleY(1);
  height: auto;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.full-width {
  width: 100%;
}

.manage-acount {
  background-color: #0487d9;
}

.home {
  background-color: #0468be;
}

.manage-acount,
.home span {
  font-family: 'Roboto';
  color: #ffffff !important;
  text-transform: uppercase;
}

.nav-list {
  padding-top: 0px;
}

.mat-nav-list .mat-list-item:focus,
.mat-nav-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background: #0468be !important;
  color: white;
}

.acronymSearch {
  margin-top: 5px;
}
