
<mat-drawer-container >
  <mat-drawer mode="side" opened >
    <div style="display: flex; justify-content: center; padding-top: 1.5rem;">
      <img style="width: 45px;" src="../../../../assets/img/favicon.png" alt="">
    </div>

    <mat-nav-list class="nav-list">
      
      
        <a class="nav-list-a" routerLink="/" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <!-- <span class="full-width" i18n="Home page">H</span> -->
          <img class="nav-list-img" src="../../../../assets/icons/home.svg" alt="">
            <span class="nav-list-text">Home</span>
        </a>
        <a class="nav-list-a" routerLink="/AR" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <!-- <span class="full-width" i18n="Home page">H</span> -->
          <img class="nav-list-img" src="../../../../assets/icons/chart.svg" alt="">
          <span class="nav-list-text">Statistics</span>
        </a>
        <a class="nav-list-a"  routerLink="/2968" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <!-- <span class="full-width" i18n="Home page">H</span> -->
          <img class="nav-list-img" src="../../../../assets/icons/validation.svg" alt="">
          <span class="nav-list-text">Validations</span>
        </a>
        <a class="nav-list-a nav-list-a-logout"  routerLink="/verpath" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <img class="nav-list-img" src="../../../../assets/icons/user.svg" alt="">
          <span class="nav-list-text">Account</span>
        </a>
      
      <!-- <ng-container *ngFor="let repositorie of repositoriesMenu">
        <a
          mat-list-item
          (click)="menuClick(repositorie)"
        >
          <span class="full-width">{{ repositorie.description }}</span>
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: repositorie.showSubmenu }"
            *ngIf="isExpanded"
            >
          </mat-icon>
        </a>
        <div
          class="submenu"
          [ngClass]="{ expanded: repositorie.showSubmenu }"
          *ngIf="isExpanded"
        >
          <a
            mat-list-item
            routerLink="/{{ repositorie.description }}"
            i18n
            >History
          </a>
          <a
            mat-list-item
            (click)="validationClick(repositorie.description)"
            i18n
            >Last validation
          </a>
          <a
            *ngIf="repositorie.hasBroker"
            mat-list-item
            routerLink="/{{ repositorie.description }}/broker"
            i18n
            >OpenAIRE Broker
          </a>
        </div>
      </ng-container> -->
    </mat-nav-list>
  </mat-drawer>
  
</mat-drawer-container>





