
/* DRAWER */

.mat-drawer {
  width: 46px;
  transition: width 0.3s ease;
  background: linear-gradient(180deg, #F6F7FC 100%, #ECECF9 100%);
  box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.02);
  /* -webkit-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.12); */
  border-bottom-right-radius: 50px;
  position: fixed;
  overflow: hidden;
}


.mat-drawer:hover {
  width: 200px;
}

.mat-drawer:hover .nav-list-text{
  opacity: 1;
  transition: opacity 0.3s ease;
} 

/* LIST ITEMS */

.nav-list {
  padding-top: 5rem;
}

.nav-list-a{
  display: flex;
  margin-bottom: 0.3rem;
  transition: ease 0.3s;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav-list-a-logout{
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.nav-list-a:hover{
  background-color: #dcddea;
  border-radius: 10px;
  transition: ease 0.3s;
}
.nav-list-active{
  background-color: #dcddea;
  border-radius: 10px;
  transition: ease 0.3s;
}

.nav-list-text{
  margin-left: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-list-img {
  width: 20px; 
  opacity: 0.8; 
  margin-left: 0.8rem;
}

