<!-- LEGACY -->

<!-- <mat-sidenav-container class="sidenav-container"> -->
  <!-- <mat-sidenav
    id="style-1"
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
  >
    <mat-nav-list class="nav-list">
      <ng-template [ngIf]="admUser">
        <a class="manage-acount" mat-list-item routerLink="/manage/accounts">
          <span class="full-width" i18n>Manage Accounts</span>
        </a>
      </ng-template>
      <a class="home" mat-list-item routerLink="/">
        <span class="full-width" i18n="Home page">Home</span>
      </a>
      <ng-container *ngFor="let repositorie of repositoriesMenu">
        <a
          mat-list-item
          (click)="menuClick(repositorie)"
        >
          <span class="full-width">{{ repositorie.description }}</span>
          <i mat-list-icon class="material-icons">library_books</i>
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: repositorie.showSubmenu }"
            *ngIf="isExpanded"
            >expand_more
          </mat-icon>
        </a>
        <div
          class="submenu"
          [ngClass]="{ expanded: repositorie.showSubmenu }"
          *ngIf="isExpanded"
        >
          <a
            mat-list-item
            routerLink="/{{ repositorie.description }}"
            i18n
            >History
          </a>
          <a
            mat-list-item
            (click)="validationClick(repositorie.description)"
            i18n
            >Last validation
          </a>
          <a
            *ngIf="repositorie.hasBroker"
            mat-list-item
            routerLink="/{{ repositorie.description }}/broker"
            i18n
            >OpenAIRE Broker
          </a>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav> -->
  
  <!-- <mat-sidenav-content class="content"> -->
    
  <!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->

<!--  -->
<mat-drawer-container >
  <mat-drawer mode="side" opened >
    <div style="display: flex; justify-content: center; padding-top: 1.5rem;">
      <img style="width: 45px;" src="../../../../assets/img/favicon.png" alt="">
    </div>

    <mat-nav-list class="nav-list">
      <!-- <ng-template [ngIf]="admUser">
        <a class="manage-acount" mat-list-item routerLink="/manage/accounts">
          <span class="full-width" i18n>Manage Accounts</span>
        </a>
      </ng-template> -->
      
        <a class="nav-list-a" routerLink="/" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <!-- <span class="full-width" i18n="Home page">H</span> -->
          <img class="nav-list-img" src="../../../../assets/icons/HOME.svg" alt="">
            <span class="nav-list-text">Home</span>
        </a>
        <a class="nav-list-a" routerLink="/AR" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <!-- <span class="full-width" i18n="Home page">H</span> -->
          <img class="nav-list-img" src="../../../../assets/icons/CHART.svg" alt="">
          <span class="nav-list-text">Statistics</span>
        </a>
        <a class="nav-list-a"  routerLink="/2968" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <!-- <span class="full-width" i18n="Home page">H</span> -->
          <img class="nav-list-img" src="../../../../assets/icons/VALIDATION.svg" alt="">
          <span class="nav-list-text">Validations</span>
        </a>
        <a class="nav-list-a nav-list-a-logout"  routerLink="/verpath" routerLinkActive="nav-list-active" [routerLinkActiveOptions]="{exact:true}">
          <img class="nav-list-img" src="../../../../assets/icons/USER.svg" alt="">
          <span class="nav-list-text">Account</span>
        </a>
      
      <!-- <ng-container *ngFor="let repositorie of repositoriesMenu">
        <a
          mat-list-item
          (click)="menuClick(repositorie)"
        >
          <span class="full-width">{{ repositorie.description }}</span>
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: repositorie.showSubmenu }"
            *ngIf="isExpanded"
            >
          </mat-icon>
        </a>
        <div
          class="submenu"
          [ngClass]="{ expanded: repositorie.showSubmenu }"
          *ngIf="isExpanded"
        >
          <a
            mat-list-item
            routerLink="/{{ repositorie.description }}"
            i18n
            >History
          </a>
          <a
            mat-list-item
            (click)="validationClick(repositorie.description)"
            i18n
            >Last validation
          </a>
          <a
            *ngIf="repositorie.hasBroker"
            mat-list-item
            routerLink="/{{ repositorie.description }}/broker"
            i18n
            >OpenAIRE Broker
          </a>
        </div>
      </ng-container> -->
    </mat-nav-list>
    
  </mat-drawer>


  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

