  <div class="home-section">
    <div class="home-info">
      <div class="home-info-container">
        <div class="home-info-top animate__animated animate__fadeInLeft animate__faster">
            <h1 class="font-weight-bold home-title" i18n>Welcome</h1>
            <p i18n>Dashboard for repository managers</p>
        </div>
        <div class="home-info-icons-container animate__animated animate__fadeInLeft animate__faster">
          <img style="width: 40px;" src="assets/icons/home-mobil-data.svg" alt="">
          <img style="width: 40px;" src="assets/icons/home-mobil-stadistic.svg" alt="">
          <img style="width: 40px;" src="assets/icons/home-mobil-chart.svg" alt="">
          <img style="width: 40px;" src="assets/icons/home-mobil-stadistic2.svg" alt="">
        </div>
        <div class="home-info-bottom animate__animated animate__fadeInLeft animate__faster">
          <h4 i18n>¿What's on the platform?</h4>
          <ul>
            <li i18n> Information about the <b>harvesting</b> of deposit documents. </li>
            <li i18n> Information about the <b>documents validation.</b></li>
            <li i18n> Informative <b>statistics and graphics.</b></li>
          </ul>
        </div>
      </div>
      <div class="home-section-image-container">
        <img class="animate__animated animate__fadeInRight animate__faster" src="assets/img/home-section-image-2.png" alt="">
      </div>
    </div>
    <mat-card class="home-services animate__animated animate__fadeInDown animate__faster">
      <mat-card-title>
        <h2 i18n>Services</h2>
      </mat-card-title>
      <div class="home-services-card-container">
          <a class="services-item" (click)="onHarvestingNavigate()">
            <img style="width: 24px; opacity: 0.7;" src="assets/icons/chart.svg" alt=""> 
            <span i18n>Data harvesting</span>
          </a>
        <a class="services-item" (click)="onValidationNavigate()">
          <img style="width: 24px; opacity: 0.7;" src="assets/icons/validation.svg" alt=""> 
          <span i18n>Validations</span>
        </a>
        <a class="services-item" (click)="onStatisticsNavigate()">
          <img  style="width: 24px; opacity: 0.7;" src="assets/icons/statistics.svg" alt=""> 
          <span i18n>Statistics</span>
        </a>
        <a class="services-item-inprogress" >
          <img style="width: 24px; opacity: 0.7;" src="assets/icons/progress.svg" alt=""> 
          <span i18n>In progress</span>
        </a>
      </div>
    </mat-card>
  </div>
  <div class="home-footer" >
    <h6 style="margin-bottom: 0; margin-right: 8px;">Powered by</h6>
    <img style="width: 180px;" src="assets/img/logo-footer.png" alt="">
  </div>

  
 

