
h6{
  margin-bottom: 2rem;
}

h4{
  text-align: center;
}
h2{
  text-align: center;
  color: var(--color-primary);
  margin-top: 2rem;
  font-weight: 600;
}
ul{
  padding: 0;
  margin: 0;
}

.home-section {
  display: grid;
  grid-template-columns: 2fr 1rem 1fr;
  place-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
}

.home-info {
  grid-column: 1 / 2;
  background-color: white;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 10px;
}

.home-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 26px;
}
.home-info-icons-container{
  display: flex;
  justify-content: space-evenly;
}

.home-info-top p{
  text-align: center;
}

.home-info-bottom ul li{
  list-style: none;
  font-size: 14px;
  margin-bottom: 0.3rem;
  text-align: center;
  margin-top: 3px;
}

.home-services {
  grid-column: 3 / 4;
  min-height: 80vh;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem ;
  border-radius: 10px;
}
.home-services-card-container{
  display: grid;
  gap: 12px;
  padding: 2rem;
}

.home-services-card-container a{
  cursor: pointer;
  padding: 20px;
  background: #F9F8F9;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3s;
  border-radius: 6px;
  text-decoration: none;
}

.home-services-card-container a:hover{
  background: #E9E6E9;
  transition: ease-in-out 0.3s;
}

.home-services-card-container a span{
  margin-left: 1rem;
  font-weight: 600;
 
}

.home-section-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-image-container img {
  width: 100%;
}

.home-footer{
  height: 100px; 
  display: flex; 
  justify-content: right; 
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;
}

@media screen and (max-width: 1398px) {
  .home-section-image-container img {
    width: 320px;
  }
}

@media screen and (max-width: 1140px) {
  
  .home-section {
    display: block;
  }
  .home-info{
    margin-bottom: 1rem;
  }
  .home-services{
    min-height: 0vh;
  } 
}

@media screen and (max-width: 820px) {
  
  .home-section-image-container{
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-section{
    padding: 1rem;
  }

  .home-info {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    padding: 1rem;
  }
  .home-services{
    min-height: 0vh;
  }
  .home-services-card-container{
    padding: 1rem;
  }
  p{
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 570px) {
  .home-footer{
    display: none;
  }
}




