<div class="p-3 grid">

    <div class="col-12 p-0 animate__animated animate__fadeInDown animate__faster">
        <div class="col-12">
            <app-info-card
              i18n-title
              i18n-description
              title="Estadisticas de uso"
              description="In the graph it is possible to view the results of the harvestingss performed. The chart shows three metrics, which are: valid, invalid and transformed records. Valid records are those that are in accordance with the current mandatory harvest rules of the repository. Invalid records are those that do not comply with the mandatory harvest rules of the repository. Finally, the transformed records inform the number of documents that were collected. It is possible to use the filter below this graph to select the date range and view specific harvests. The graph displays harvests in groups of ten, so it is possible to navigate within the graph if the selected interval has more than ten harvests. Use the 'clear' button to return the graph to its initial state, showing the harvests from the last two years.">
            </app-info-card>
        </div>
        <div class="col-12">
            <div class="widget_container" id="my-widget"></div>
        </div>
    </div>

    <div class="col-12 p-0 animate__animated animate__fadeInDown animate__faster">
        <div class="col-12">
            <app-info-card
                i18n-title
                i18n-description
                title="Widget"
                description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero est ea hic a nulla, soluta amet sint, officia, eum dolorum eveniet sequi praesentium fugiat neque quia! Modi obcaecati dicta nobis?"> 
            </app-info-card>
        </div>
        <div class="col-12">
            <div class="widget_container" style="display: flex; justify-content: center; align-items: center;">
                <h2>Otro widget nuevo</h2>

            </div>

        </div>
    </div>
</div>






