<div
  [ngClass]="['alert', error ? 'alert-danger' : 'alert-warning']"
  role="alert"
  *ngIf="error || firstAccess"
  i18n
>
  {error, select, true {Validations not found} false {Enter a source acronym in
  the root URL /:acronym}}
</div>

<mat-card *ngIf="isLoadingResults">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>

<div *ngIf="!firstAccess && !error && validation" class="grid p-3">
 
  

  <div class="col-12 md:col-4 p-3">
        <app-validation-card
        title="Last validation"
        validationTitle="Records"
        [validationData]="validation.size"
        icon="pi pi-book"
        color="#00d0de"
        imagePath="validation-record.svg"
        shadowColor="0px 6px 20px rgba(0, 208, 222, 0.3)">
      </app-validation-card>
    </div>

  <div class="col-12 md:col-4 p-3">
    <app-validation-card
      title="Last validation"
      validationTitle="Valid"
      [validationData]="validation.validSize"
      icon="pi pi-check-circle"
      color="#0bd18a"
      imagePath="validation-valid.svg"
      shadowColor="0px 6px 20px rgba(11, 209, 138, 0.3)">
    </app-validation-card>
  </div>

  <div class="col-12 md:col-4 p-3">
    <app-validation-card
      title="Last validation"
      validationTitle="Invalid"
      [validationData]="validation.size - validation.validSize"
      icon="pi pi-times-circle"
      color="#fc6161"
      imagePath="validation-invalid.svg"
      shadowColor="0px 6px 20px rgba(252, 97, 97, 0.3)">
    </app-validation-card>
  </div>



   <!-- <div class="col-12 lg:col-6 flex-container">
    <app-conformity-grouped-chart
      [validation]="validation"
    ></app-conformity-grouped-chart>
  </div>  -->

  <div class="col-12 p-3">
    <app-info-card
      title="Validations"
      description="The graph below shows the result of the validations performed. Records with 100% validation level refer to records that have complied with the mandatory collection rules of the repository and become valid records. Records that have a 0.00%  validation level refer to records that did not comply with the mandatory collection rules of the repository and became invalid records. In this case, the user has the option of viewing which were the invalid occurrences in the details button, where the metadata value with the corresponding quantities are shown.">
    </app-info-card>
  </div>

  <div class="col-12 p-3">
    <app-validation-table [validation]="validation"></app-validation-table>
  </div>

  <div class="col-8">
    <app-records-table [validation]="validation"></app-records-table>
  </div>

  <div class="col-4">
    <app-info-card
      title="Records"
      description="The data below presents the complete diagnosis of your institution's data collection. Here you can check which records are valid, which are invalid and what makes a record invalid. In addition to allowing a customized view, in which it is possible to make combinations between the type of record (valid or invalid) and the type of rule. In the details button, it is possible to view the applicability and compliance of each validation rule item by item.">
    </app-info-card>
  </div>

</div>
