h6 {
    margin: 0;
    margin-right: 8px;  
    cursor: poiner;
    color: var(--color-primary);
    font-family: 'Poppins';
}


.header-component{
    max-width: 1440px;
    margin: 0 auto;
    position: sticky; 
    top: 0; 
    /* width: calc(100% - 61px); */
    /* margin-left: 44px; */
    padding: 1.5rem;
    background-color: rgba(246,247,252,1);
    z-index: 1;
    border-radius: 6px;
}
.header-logo-referencia{
    display: flex;
    align-items: center;
}

.menu-container{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 570px) {
    .header-logo-referencia{
        display: none;
    }
    .header-component{
        width: 100%;
        margin-left: 0px;
    }  
}

@media screen and (min-width: 570px) {
    .header-burguer-menu{
        display: none;
    }
}

:host ::ng-deep .p-button {
    background-color: transparent;
    border: none;
}

:host ::ng-deep .p-button:hover {
    background-color: transparent;
}

:host ::ng-deep .p-button span {
    color: var(--color-primary);
}

:host ::ng-deep .p-inputtext {
    border-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Poppins';
    margin-left: 3px;
    text-align: center;
    font-weight: bold;
}

:host ::ng-deep .p-autocomplete-dd .p-autocomplete-input {
    border-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

