h6 {
    margin: 0;
    margin-right: 8px;  
    cursor: poiner;
    color: var(--color-primary);
    font-family: 'Poppins';
}


.header-component{
    position: sticky; 
    top: 0; 
    width: calc(100% - 61px);
    margin-left: 44px;
    padding: 1.5rem;
    background-color: rgba(246,247,252,1);
    z-index: 1;
    border-radius: 6px;
}
.header-logo-referencia{
    display: flex;
    align-items: center;
}

.menu-container{
    display: flex;
    align-items: center;
}
.menu-container:hover .arrow{
    transform: rotate(180deg);
}

.arrow{
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}


:host ::ng-deep .p-menu {
    background: white;
    border: none;
    max-height: 70vh;
    overflow-y: auto;
}


:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-text {
    color: var(--color-secondary);
    font-family: 'Poppins';
}

:host ::ng-deep .p-menu .p-menuitem-link .p-menuitem-icon {
    color: var(--color-primary);
}

:host ::ng-deep .p-menu .p-submenu-header{
    color: var(--color-primary);
    background: rgba(236,236,249,1) !important;
    font-family: 'Poppins';
}

:host ::ng-deep .p-menu .p-menuitem-link{
    border: none;
    transition: background 0.2s ease-in-out;
}

:host ::ng-deep .p-menu .p-menuitem-link:hover{
    background: rgba(236,236,249,1) !important;
    transition: background 0.2s ease-in-out;
}


@media screen and (max-width: 570px) {
    .header-logo-referencia{
        display: none;
    }
    .header-component{
        width: 100%;
        margin-left: 0px;
    }  
}

@media screen and (min-width: 570px) {
    .header-burguer-menu{
        display: none;
    }
}

