<div class="users" *ngFor="let user of users; let i=index;">
  <div [ngClass]="[
      'alert', 
      user.created_status == 0 ? 'alert-warning' : user.created_status == 1 ? 'alert-success' : 'alert-danger'
    ]" role="alert">
    {{user.username}}
    <div *ngIf="user.created_status == 0" class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only" i18n>Loading...</span>
    </div>
    <div *ngIf="user.created_status == 1" i18n>
      Success
    </div>
    <div *ngIf="user.created_status == 2" i18n>
      Error
    </div>
  </div>
</div>