<div class="container">
  <div class="row">
    <div class="col">
      <h5 i18n>Group Membership</h5>
      <app-user-group-table #groupTableLeave [username]="dialogData.username" [action]="userGroupAction.Leave"
        (actionClick)="actionClick($event)">
      </app-user-group-table>
    </div>
    <div class="col">
      <h5 i18n>Available Groups</h5>
      <app-user-group-table #groupTableJoin [username]="dialogData.username" [action]="userGroupAction.Join"
        (actionClick)="actionClick($event)">
      </app-user-group-table>
    </div>
  </div>
  <p-toast></p-toast>
</div>