<div class="file-selected"><input type="file" style="display: none" #fileInput accept="csv/*"
    (change)="onChangeFileInput()" />
  <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
    <mat-icon>attach_file</mat-icon>
    <span i18n>Select file</span>
  </button>
  <p class="file-name" *ngIf="!file; else fileName" i18n>No file selected</p>
  <ng-template #fileName>
    <p class="file-name">{{ file?.name }}</p>
    <mat-icon (click)="onClickClearFile()">delete_outline</mat-icon>
  </ng-template>
</div>
<app-process-list [process]="process"></app-process-list>

<ng-template #snackBarTemplate>
  <div class="message">
    <span i18n>Invalid file format</span>
    <mat-icon (click)="dismissSnackbar()">close</mat-icon>
  </div>
</ng-template>